node_modules
build
npm-debug.log
.nyc
*.env
.DS_Store
package-lock.json
*.png
!image/URLINSPECTION/*.png
.env*
.flaskenv*
!.env.project
!.env.vault
*.txt
__pycache__/
!/web-crawler/src/assets/favicons/*
.DS_Store