node_modules
build
npm-debug.log
.nyc
*.env
package-lock.json
*.png
!image/URLINSPECTION/*.png
!content-inspection/src/assets/data/*.png
.env*
.flaskenv*
!.env.project
!.env.vault
url-inspection/**/*.txt
__pycache__/
.DS_Store
# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore local .terraform directories
**/.terraform/*